# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
.env/

.buildenv/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Project data and environment artifacts
Data/
