checkpoints/
mmdetection/
deploy/
data/
Models/
test_results/
notebooks/*.json
*.yaml
*.log
*metadata.json
*.txt
*.wandb
*summary.json
*run
tmp/
tgt_imgs/

studies/tta_study/*

*.json

*.npy
*.pyc
*.pkl