checkpoints/
mmdetection/
deploy/
data/
Models/
test_results/
Deploy_out/
notebooks/*.json
*.yaml
*.log
*metadata.json
*.txt
*.wandb
*summary.json
*run
tmp/
runscripts/Deploy/

studies/tta_study/*

*.json
*.onnx

*.npy
*.pyc
*.pkl